/* Custom Font */
@font-face {
  font-family: "Mplus";
  src: url(/font/mplus-2p-regular.ttf);
}
@font-face {
  font-family: "JetBrainsMono";
  src: url(/font/JetBrainsMono-Regular.ttf);
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Mplus, Myriad, Helvetica, Arial, "Meiryo", "メイリオ", sans-serif;
}
:not(pre) > code {
  font-family: JetBrainsMono, monospace, Monaco;
  background-color: #eceff1;
  color: #333;
  border-radius: 4px;
  margin: 0 0.25rem;
  padding: 0.375rem;
}

/* Posts */
.collection a.collection-item {
  display: block;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  color: #333333;
}
.collection a:not(.active):hover {
  /* text-decoration: underline; */
  background-color: #b6dcfb;
  color: #111111;
}

strong {
  background: linear-gradient(transparent 60%, #fff300 60%) !important;
}

.of-scroll {
  overflow-x: scroll;
}

.of-scroll::-webkit-scrollbar {
  display: none;
}

.author-thumb {
  transition: 0.1s;
}

.author-thumb:hover {
  transform: rotate(-45deg);
  transition: 0.1s;
}

article.sn > .article-body ul,
article.sn > .article-body ol {
  margin: 0.75rem 0;
}
article.sn > .article-body h4 {
  margin-top: 2rem;
}
article.sn > .article-body p {
  margin: 0.25rem 0;
  line-height: 1.75rem;
}

.author > .author-facts li {
  padding: 3px !important;
}
