<aside class="share">
  <a href="https://twitter.com/intent/tweet?url={{ .Permalink }}&text={{ .Title }}%20-%20backad&tw_p=tweetbutton"
    title="Twitterでシェア" class="tw" target="_blank" rel="noopener nofollow"><i class="fab fa-twitter"
      aria-hidden="true"></i></a>
  <a href="https://b.hatena.ne.jp/add?mode=confirm&url={{ .Permalink }}&title={{ .Title }}" title="はてなブックマーク" class="ht"
    target="_blank" rel="noopener nofollow">B!</a>
  <a href="https://getpocket.com/edit?url={{ .Permalink }}&title={{ .Title }}" title="Pocketに保存" class="pk"
    target="_blank" rel="noopener nofollow"><i class="fab fa-get-pocket" aria-hidden="true"></i></a>
</aside>
